/* Basic */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: rgb(32, 30, 30);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19pt;
    font-weight: 300;
    line-height: 1.75em;
    color: rgb(233, 2, 2);
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}